*.pyc
__pycache__
.DS_Store
.ipynb_checkpoints
.rope*
.vscode/
.ipynb_checkpoints/
.pytest_cache
env/
pymdp.egg-info
inferactively_pymdp.egg-info
*.gz
pymdp/rgm/experiments/rgm_mnist_pipeline_20250109_094150/data/MNIST/raw/train-images-idx3-ubyte
pymdp/rgm/experiments/rgm_mnist_pipeline_20250109_094150/data/processed/exemplars.pt
*.pt
